.channel-description{
    height: 130px;
    background-color: #141419;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row-start: 1;
    grid-column-start: 2;
}
.channel-name{
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-left: 50px;
}
.leave-button img {
    height: 28px;
    margin: 10px 6px 10px 20px;
}
.leave-button{
    display: flex;
    margin-right: 30px;
    margin-left: 12px;
    border-radius: 2px;
    background-color: #E3505E;
    border-color: #E3505E;
    border-style: solid;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 14px 5px 14px;
}
.leave-button:hover{
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}