.logo_img{
    height: 60px;
    margin-right: 16px;
}
#underscore{
    color: #006EDB;
    font-size: 50px;
}
.app-name{
    color: white;
    font-weight: bold;
    font-size: 38px;
}
.logo-div{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.sidebar-div{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #141419;
    width: 280px;
}
.search-bar{
    width: 70%;
    height: 40px;
    border-radius: 4px;
    background-color: #222429;
    border: none;
    margin-left: 14px;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
}
#search-icon{
    z-index: 100;
    position: fixed;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    object-fit: cover;
    top: 140px;
    left: 24px;
}
.side-tags{
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.channel-div{
    display: flex;
    margin-bottom: 4px;
}
.channel-button{
    display: flex;
    align-items: center;
    background-color: #141419;
    border-radius: 2px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
}
.chat-button{
    display: flex;
    align-items: center;
    background-color: #141419;
    border-radius: 2px;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.chat-button:hover{
    background-color: #006EDB;
    cursor: pointer;
}
.chat-tag{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
}
.join-button{
    background-color: #006EDB;
    border-color: #006EDB;
    border-style: solid;
    border-width: 2px;
    border-radius: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    width: 250px;
}
.join-button:hover{
    border-color: white;
    cursor: pointer;
}
.create-channel-form{
    color: white;
    padding: 0;
    position: fixed;
    bottom: 20px;
    left: 14px;
}
.create-channel-input{
    height: 56px;
    margin: 0;
    background-color: #222429;
    border-style: solid;
    border-color: #222429;
    border-width: 3px;
    border-bottom: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-left: 20px;
    border-radius: 0;
}
.create-channel-input:focus{
    border-color: #006EDB;
    outline: none;
}
.create-direct-message-form{
    color: white;
    padding: 0;
    position: fixed;
    bottom: 90px;
    left: 14px;
    width: 250px;
    height: 100px;
}